*{
    margin: 0;
}

#sidebar{
    height: 100vh;
    width: 15vw;
    min-width: 100px;
    max-width: 300px;
    background-color: hsl(224, 84%, 66%);
}

button[id="addTodo"]{
    background-color: hsl(122, 63%, 58%);
    width: 100px;
    height: 30px;
}